.button-add-from-tab-data {
    position:relative;
    top:-.5em
}

.news-agent .list-group .news-entry-main-row {
    display:table-row
}

.news-agent .list-group .news-entry-main-row > div {
    display:table-cell
}

.news-agent .list-group .news-entry-image {
    margin-right:1em
}

.news-agent .list-group .news-entry-description {
    vertical-align:top;
    font-size:85%
}