.news-agent .visibility-badges {
    margin-left:inherit
}

.news-agent .visibility-badges .badge {
    padding-left:.5em;
    padding-right:.5em
}

.news-agent .visibility-badges .badge.not-published {
    background-color:#cc3
}

.news-agent .visibility-badges .badge.expired {
    background-color:#c33
}
