/* Fix dnnSmallSizeComboBox not applied to select */
select.dnnSmallSizeComboBox {
    width:100px!important;
    margin-right:10px;
    display:inline-block
}

.dnnForm.edit-newsentry .dnnFormItem.newsentry-description .dnnLabel { margin-bottom:18px; }

.dnnForm.edit-newsentry .newsentry-button-select-current-page { margin-left:1em; }

/* Title, Description: override textbox and text editor (in basic mode) width */
#newsentry-common-tab .dnnFormItem input[type="text"],
#newsentry-common-tab .dnnFormItem textarea {
    width:97%;
    max-width:inherit;
    margin-top:8px
}

#newsentry-audit-tab .dnnModuleAuditControl {
    display:inline-block;
    width:45%;
    max-width:445px   
}

/* make modules grid scrollable */
#newsentry-terms-and-weigths-tab table.grid-modules {
    display:inline-block;
    max-height:10em;
    overflow:auto
}

#edit-newsentry .dnnSecondaryAction.cancel-action {
    margin-left:2em
}

/* Adjust terms dropdown bottom margin */
#news-stream-settings .dnnFormItem .terms-include-terms {
    margin-bottom:0
}

/* Adjust checkbox bottom margin */
#news-stream-settings .dnnFormItem .check-show-all-news {
    margin-bottom:18px
}

#news-stream-settings .dnnSmallSizeComboBox + span {
    margin-right:10px
}