/* Description texteditor: show label and radiogroup in one line */
#newsentry-common-tab .dnnTextEditor.dnnClear {
    clear:none
}

/* Description texteditor: hide Editor label */
#newsentry-common-tab .dnnTextEditor .dnnLabel {
    display:none
}

/* Title, Description: override textbox and text editor (in basic mode) width */
#newsentry-common-tab .dnnFormItem input[type="text"],
#newsentry-common-tab .dnnFormItem textarea {
    width:97%;
    max-width:inherit;
    margin-top:8px
}

#newsentry-audit-tab .dnnModuleAuditControl {
    display:inline-block;
    width:45%;
    max-width:445px   
}

/* Adjust terms dropdown bottom margin */
#news-stream-settings .dnnFormItem > .RadComboBox_Default {
    margin-bottom:0
}

/* Adjust checkbox bottom margin */
#news-stream-settings .dnnFormItem input[type="checkbox"] + span {
    margin-bottom:18px
}