
.news-stream .visibility-badges,
.news-entry .visibility-badges {
    margin-left:inherit;
    font-size:85%
}

.news-stream .visibility-badges .badge,
.news-entry .visibility-badges .badge {
    padding-left:.5em;
    padding-right:.5em
}

.news-stream .visibility-badges .badge.not-published,
.news-entry .visibility-badges .badge.not-published {
    background-color:#cc3
}

.news-stream .visibility-badges .badge.expired,
.news-entry .visibility-badges .badge.expired {
    background-color:#c33
}

.news-stream .term-links,
.news-entry .term-links {
    font-size:85%
}

.news-stream .term-links span.glyphicon,
.news-entry .term-links span.glyphicon {
    color:gray
}

.news-stream .news-entry-info,
.news-entry .news-entry-info {
    color:gray;
    font-size:85%
}

.news-stream .news-entry-info .glyphicon-user,
.news-entry .news-entry-info .glyphicon-user {
    margin-left:1em
}

.news-entry .news-entry-image {
    width:100%
}
