.news-agpl-footer > hr { margin-bottom:0;margin-top:0;width:33% }
.news-agpl-footer > a { font-size:xx-small;color:#ccc }

.news-module a.btn.aspNetDisabled {
    color:inherit;
    cursor:inherit;
    text-decoration:inherit;
}

.news-module .news-action-btns a.btn.disabled {
    pointer-events:auto;
}

.news-module .visibility-badges {
    font-size:85%
}

.news-module .visibility-badges ul.list-inline {
    margin-left:0
}

.news-module .visibility-badges .badge {
    padding-left:.5em;
    padding-right:.5em
}

.news-module .visibility-badges .badge.not-published {
    background-color:#cc3
}

.news-module .visibility-badges .badge.expired {
    background-color:#c33
}

.news-module .term-links {
    font-size:85%
}

.news-module .term-links i {
    color:gray
}

.news-module .news-entry-info {
    color:gray;
    font-size:85%
}

.news-module .news-entry-image {
    margin-bottom:1rem
}
