.news-agpl-footer > hr { width:33% }
.news-agpl-footer > a { font-size:xx-small }

.news-module a.btn.aspNetDisabled {
    color:inherit;
    cursor:inherit;
    text-decoration:inherit;
}

.news-module .news-action-btns a.btn.disabled {
    pointer-events:auto;
}

.news-module .visibility-badges ul.list-inline {
    margin-left:0
}

.news-module .term-links {
    font-size:85%
}

.news-module .term-links i {
    color:gray
}

.news-module .news-entry-info {
    color:gray;
    font-size:85%
}

.news-module .news-entry-image {
    margin-bottom:1rem
}
